main-cluster-mj0583jp.yaml
main-cluster-mj0581m7.yaml
main-cluster-mj0583eq.yaml
main-cluster-mj05ajfj.yaml
main-cluster-mj04ew44.yaml
main-cluster-mj0581rw.yaml
main-cluster-mj04968e.yaml
main-cluster-mj05g4ub.yaml
talosconfig
