---
# yaml-language-server: $schema=https://raw.githubusercontent.com/rancher/system-upgrade-controller/master/pkg/apis/upgrade.cattle.io/v1/plan.json
apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: talos-workers
  namespace: system-upgrade
spec:
  version: v1.11.5
  serviceAccountName: system-upgrade
  concurrency: 1
  exclusive: true
  nodeSelector:
    matchExpressions:
      - key: node-role.kubernetes.io/control-plane
        operator: DoesNotExist
  tolerations:
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
  prepare:
    image: ghcr.io/siderolabs/talosctl:v1.11.5
    args:
      - --nodes=$(NODE_NAME)
      - health
      - --server=false
  upgrade:
    image: ghcr.io/siderolabs/installer:v1.11.5
  drain:
    force: true
    disableEviction: true
    deleteLocalData: true
    ignoreDaemonSets: true
    skipWaitForDeleteTimeout: 60
    timeout: 300
    gracePeriod: 600
    podSelector:
      matchExpressions:
        - key: app.kubernetes.io/name
          operator: NotIn
          values:
            - ceph-mon
            - ceph-osd
            - ceph-mgr
