---
# yaml-language-server: $schema=https://raw.githubusercontent.com/rancher/system-upgrade-controller/master/pkg/apis/upgrade.cattle.io/v1/plan.json
apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: talos-controlplane
  namespace: system-upgrade
spec:
  version: v1.11.5
  serviceAccountName: system-upgrade
  concurrency: 1
  exclusive: true
  nodeSelector:
    matchLabels:
      node-role.kubernetes.io/control-plane: ""
  tolerations:
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
  upgrade:
    image: ghcr.io/siderolabs/installer:v1.11.5
  drain:
    force: false
    disableEviction: false
    deleteLocalData: true
    ignoreDaemonSets: true
    skipWaitForDeleteTimeout: 180
    timeout: 900
    gracePeriod: 1200
