---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - 01-talos-workers-upgrade.yaml
  # NOTE: Control plane plan should be applied AFTER workers complete
  # Uncomment the line below once worker upgrades are finished:
  # - 02-talos-controlplane-upgrade.yaml
