apiVersion: v1
kind: ConfigMap
metadata:
  name: kube-prometheus-stack-gatus-ep
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: kube-prometheus-stack
        group: guarded
        url: http://kube-prometheus-stack-prometheus.observability.svc.cluster.local:9090/-/healthy
        interval: 1m
        ui:
          hide-hostname: true
          hide-url: true
        conditions:
          - "[STATUS] == 200"
          - "[RESPONSE_TIME] < 5000"
        alerts:
          - type: pushover
