---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ${APP}-volsync
spec:
  dataFrom:
    - extract:
        key: volsync-kopia
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: ${APP}-volsync
    template:
      data:
        KOPIA_PASSWORD: "{{ .PASSWORD }}"
        # Shared Kopia repository - all apps are users in the same repo
        KOPIA_REPOSITORY: "s3://volsync-backups"
        AWS_ACCESS_KEY_ID: "{{ .ACCESS_KEY }}"
        AWS_SECRET_ACCESS_KEY: "{{ .SECRET_KEY }}"
        AWS_S3_ENDPOINT: "http://rook-ceph-rgw-ceph-objectstore.rook-ceph.svc"
        KOPIA_S3_DISABLE_TLS: "true"
      engineVersion: v2
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/volsync.backube/replicationdestination_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: ${APP}-bootstrap
spec:
  kopia:
    accessModes: ["${VOLSYNC_SNAP_ACCESSMODES:-ReadWriteOnce}"]
    capacity: ${VOLSYNC_CAPACITY:-2Gi}
    copyMethod: Snapshot
    moverSecurityContext:
      fsGroup: ${VOLSYNC_PGID:-1000}
      runAsGroup: ${VOLSYNC_PGID:-1000}
      runAsUser: ${VOLSYNC_PUID:-1000}
    repository: ${APP}-volsync
    storageClassName: ${VOLSYNC_STORAGECLASS:-ceph-block}
    volumeSnapshotClassName: ${VOLSYNC_SNAPSHOTCLASS:-csi-ceph-blockpool}
  trigger:
    manual: restore-once
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/volsync.backube/replicationsource_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: ${APP}
spec:
  kopia:
    accessModes: ["${VOLSYNC_SNAP_ACCESSMODES:-ReadWriteOnce}"]
    copyMethod: ${VOLSYNC_COPYMETHOD:-Snapshot}
    moverSecurityContext:
      fsGroup: ${VOLSYNC_PGID:-1000}
      runAsGroup: ${VOLSYNC_PGID:-1000}
      runAsUser: ${VOLSYNC_PUID:-1000}
    repository: ${APP}-volsync
    username: ${APP}
    retain:
      daily: 10
      hourly: 24
      monthly: 3
      weekly: 5
    storageClassName: ${VOLSYNC_STORAGECLASS:-ceph-block}
    volumeSnapshotClassName: ${VOLSYNC_SNAPSHOTCLASS:-csi-ceph-blockpool}
  sourcePVC: ${CLAIM:-${APP}}
  trigger:
    schedule: 0 * * * *
