---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name convertx-secret
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        JWT_SECRET: "{{ .CONVERTX_JWT_SECRET }}"
  dataFrom:
    - extract:
        key: convertx
