---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app spoolman
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:
    controllers:
      spoolman:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/donkie/spoolman
              tag: 0.23.1@sha256:7b3ab4fc50bd5f6fe59bd8808de353fee5d104b06e051bb8807f48da6c6e944a
              pullPolicy: IfNotPresent
            env:
              TZ: ${TIMEZONE}
              SPOOLMAN_DB_TYPE: sqlite
              SPOOLMAN_DIR_DATA: /data
              SPOOLMAN_LOGGING_LEVEL: INFO
              SPOOLMAN_AUTOMATIC_BACKUP: "true"
              SPOOLMAN_METRICS_ENABLED: "true"
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 512Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: 8000

    ingress:
      app:
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: mdi-printer-3d-nozzle
          gethomepage.dev/name: Spoolman
          gethomepage.dev/group: Tools
          gethomepage.dev/description: 3D Printing Filament Manager
        hosts:
          - host: "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /data
