---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: rclone-rgw-backup
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: rclone-rgw-backup
    template:
      engineVersion: v2
      data:
        rclone.conf: |
          [ceph]
          type = s3
          provider = Ceph
          endpoint = http://rook-ceph-rgw-ceph-objectstore.rook-ceph.svc:80
          access_key_id = {{ .CEPH_ACCESS_KEY }}
          secret_access_key = {{ .CEPH_SECRET_KEY }}
          acl = private

          [garage]
          type = s3
          provider = Other
          endpoint = {{ .GARAGE_ENDPOINT }}
          access_key_id = {{ .GARAGE_ACCESS_KEY }}
          secret_access_key = {{ .GARAGE_SECRET_KEY }}
          acl = private
          force_path_style = true
  dataFrom:
    - extract:
        key: rclone-rgw-backup
