---
apiVersion: v1
kind: Service
metadata:
  name: truenas-node-exporter
  namespace: observability
  labels:
    app.kubernetes.io/name: truenas-node-exporter
    app.kubernetes.io/instance: truenas
spec:
  clusterIP: None
  ports:
    - name: metrics
      port: 9100
      protocol: TCP
      targetPort: 9100
---
apiVersion: v1
kind: Endpoints
metadata:
  name: truenas-node-exporter
  namespace: observability
subsets:
  - addresses:
      - ip: ${NAS_IP}
    ports:
      - name: metrics
        port: 9100
        protocol: TCP
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: truenas-node-exporter
  namespace: observability
  labels:
    app.kubernetes.io/name: truenas-node-exporter
    app.kubernetes.io/instance: truenas
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: truenas-node-exporter
      app.kubernetes.io/instance: truenas
  endpoints:
    - port: metrics
      scheme: http
      path: /metrics
      interval: 1m
      scrapeTimeout: 30s
