apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ../../../../templates/gatus/guarded
configMapGenerator:
  - name: autobrr-gatus-ep
    literals:
      - NAMESPACE=media
      - GATUS_PORT=80
      - GATUS_PATH=/api/healthz/liveness
  - name: autobrr-loki-rules
    files:
      - autobrr.yaml=./resources/lokirule.yaml
    options:
      labels:
        loki_rule: "true"
generatorOptions:
  disableNameSuffixHash: true
