---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ../../../../templates/gatus/guarded
  - ../../../../templates/volsync
configMapGenerator:
  - name: zigbee2mqtt-gatus-ep
    behavior: merge
    literals:
      - NAMESPACE=default
      - GATUS_PORT=80
      - GATUS_PATH=/
  - name: zigbee2mqtt-loki-rules
    files:
      - zigbee2mqtt.yaml=./lokirule.yaml
    options:
      labels:
        loki_rule: "true"
generatorOptions:
  disableNameSuffixHash: true
