apiVersion: v1
kind: ConfigMap
metadata:
  name: qbittorrent-gatus-ep
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: qbittorrent
        group: guarded
        url: http://qbittorrent.media.svc.cluster.local:80/
        interval: 1m
        ui:
          hide-hostname: true
          hide-url: true
        conditions:
          - "[STATUS] == 200"
          - "[RESPONSE_TIME] < 5000"
        alerts:
          - type: pushover
