---
# yaml-language-server: $schema=https://raw.githubusercontent.com/rancher/system-upgrade-controller/master/pkg/apis/upgrade.cattle.io/v1/plan.json
apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: talos-v1-11-5
  namespace: system-upgrade
spec:
  # Set to v1.11.5 when ready to upgrade
  version: "hold"
  serviceAccountName: system-upgrade
  secrets:
    - name: talos
      path: /var/run/secrets/talos.dev
      ignoreUpdates: true
  concurrency: 1
  exclusive: true
  nodeSelector:
    matchExpressions:
      - key: node-role.kubernetes.io/control-plane
        operator: DoesNotExist
  tolerations:
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
  upgrade:
    image: ghcr.io/siderolabs/installer:v1.11.5
