apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./pvc.yaml
  - ./helmrelease.yaml
  - ./gatus.yaml
configMapGenerator:
  - name: sonarr-configmap
    files:
      - codec-tagger.sh=./resources/codec-tagger.sh
      - pushover-notifier.sh=./resources/pushover-notifier.sh
      - tba-refresher.sh=./resources/tba-refresher.sh
      - tag-codecs.sh=./resources/tag-codecs.sh
      - refresh-series.sh=./resources/refresh-series.sh
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
