---
# Source: https://github.com/rancher/system-upgrade-controller/blob/master/manifests/crds.yaml
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: plans.upgrade.cattle.io
spec:
  group: upgrade.cattle.io
  names:
    kind: Plan
    plural: plans
    singular: plan
  scope: Namespaced
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - upgrade
              properties:
                concurrency:
                  type: integer
                  minimum: 1
                nodeSelector:
                  type: object
                  properties:
                    matchExpressions:
                      type: array
                      items:
                        type: object
                        required:
                          - key
                          - operator
                        properties:
                          key:
                            type: string
                          operator:
                            type: string
                            enum:
                              - In
                              - NotIn
                              - Exists
                              - DoesNotExist
                          values:
                            type: array
                            items:
                              type: string
                    matchLabels:
                      x-kubernetes-preserve-unknown-fields: true
                      type: object
                serviceAccountName:
                  type: string
                secrets:
                  type: array
                  items:
                    type: object
                    required:
                      - name
                    properties:
                      name:
                        type: string
                      path:
                        type: string
                      ignoreUpdates:
                        type: boolean
                tolerations:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                      effect:
                        type: string
                      operator:
                        type: string
                      tolerationSeconds:
                        type: integer
                      value:
                        type: string
                cordon:
                  type: boolean
                drain:
                  type: object
                  properties:
                    timeout:
                      type: integer
                    gracePeriod:
                      type: integer
                    deleteEmptyDirData:
                      type: boolean
                    deleteLocalData:
                      type: boolean
                    disableEviction:
                      type: boolean
                    ignoreDaemonSets:
                      type: boolean
                    force:
                      type: boolean
                    skipWaitForDeleteTimeout:
                      type: integer
                version:
                  type: string
                channel:
                  type: string
                prepare:
                  type: object
                  properties:
                    image:
                      type: string
                    command:
                      type: array
                      items:
                        type: string
                    args:
                      type: array
                      items:
                        type: string
                    env:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          value:
                            type: string
                          valueFrom:
                            type: object
                            properties:
                              fieldRef:
                                type: object
                                properties:
                                  fieldPath:
                                    type: string
                              secretKeyRef:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  key:
                                    type: string
                    envFrom:
                      type: array
                      items:
                        type: object
                        properties:
                          configMapRef:
                            type: object
                            properties:
                              name:
                                type: string
                          secretRef:
                            type: object
                            properties:
                              name:
                                type: string
                    volumeMounts:
                      type: array
                      items:
                        type: object
                        required:
                          - name
                          - mountPath
                        properties:
                          name:
                            type: string
                          mountPath:
                            type: string
                          subPath:
                            type: string
                          readOnly:
                            type: boolean
                upgrade:
                  type: object
                  required:
                    - image
                  properties:
                    image:
                      type: string
                    command:
                      type: array
                      items:
                        type: string
                    args:
                      type: array
                      items:
                        type: string
                    env:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          value:
                            type: string
                          valueFrom:
                            type: object
                            properties:
                              fieldRef:
                                type: object
                                properties:
                                  fieldPath:
                                    type: string
                              secretKeyRef:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  key:
                                    type: string
                    envFrom:
                      type: array
                      items:
                        type: object
                        properties:
                          configMapRef:
                            type: object
                            properties:
                              name:
                                type: string
                          secretRef:
                            type: object
                            properties:
                              name:
                                type: string
                    volumeMounts:
                      type: array
                      items:
                        type: object
                        required:
                          - name
                          - mountPath
                        properties:
                          name:
                            type: string
                          mountPath:
                            type: string
                          subPath:
                            type: string
                          readOnly:
                            type: boolean
                exclusive:
                  type: boolean
            status:
              type: object
              properties:
                latestVersion:
                  type: string
                latestHash:
                  type: string
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                      status:
                        type: string
                      lastUpdateTime:
                        type: string
                      reason:
                        type: string
                      message:
                        type: string
                applying:
                  type: array
                  items:
                    type: string
      subresources:
        status: {}
      additionalPrinterColumns:
        - name: Version
          type: string
          jsonPath: .spec.version
        - name: Channel
          type: string
          jsonPath: .spec.channel
        - name: Latest
          type: string
          jsonPath: .status.latestVersion
