apiVersion: v1
kind: ConfigMap
metadata:
  name: unifi-gatus-ep
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: unifi
        group: guarded
        url: https://unifi.default.svc.cluster.local:8443/status
        interval: 1m
        ui:
          hide-hostname: true
          hide-url: true
        conditions:
          - "[STATUS] == 200"
          - "[RESPONSE_TIME] < 5000"
        alerts:
          - type: pushover
