apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./pvc.yaml
  - ./helmrelease.yaml
  - ../../../../templates/gatus/guarded
configMapGenerator:
  - name: radarr-gatus-ep
    behavior: merge
    literals:
      - NAMESPACE=media
      - GATUS_PORT=80
      - GATUS_PATH=/api/v3/health
  - name: radarr-configmap
    files:
      - pushover-notifier.sh=./resources/pushover-notifier.sh
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
