apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: go2rtc
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: go2rtc-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        go2rtc.yaml: |
          api:
            origin: '*'
          streams:
            doorbell: {{ .doorbell }}
            doorbell_2w: {{ .doorbell_2w }}
            doorbell_sub: {{ .doorbell_sub }}
            camera1: {{ .camera1 }}
            camera1_sub: {{ .camera1_sub }}
            mechanical: {{ .mechanical }}
            amechanical_sub: {{ .mechanical_sub }}
  dataFrom:
    - extract:
        key: security-cameras
