---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ../../../../templates/gatus/guarded
configMapGenerator:
  - name: go2rtc-gatus-ep
    literals:
      - NAMESPACE=default
      - GATUS_PORT=1984
      - GATUS_PATH=/api
