apiVersion: v1
kind: ConfigMap
metadata:
  name: "${APP}-gatus-ep"
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: "${APP}"
        group: guarded
        url: "${GATUS_URL:-http://${APP}.${NAMESPACE}.svc.cluster.local:${GATUS_PORT:-80}${GATUS_PATH:-/}}"
        interval: 1m
        ui:
          hide-hostname: true
          hide-url: true
        conditions:
          - "[STATUS] == ${GATUS_STATUS:-200}"
          - "[RESPONSE_TIME] < ${GATUS_RESPONSE_TIME:-5000}"
        alerts:
          - type: pushover
