---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name manyfold-secret
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        SECRET_KEY_BASE: "{{ .MANYFOLD_SECRET_KEY_BASE }}"
  dataFrom:
    - extract:
        key: manyfold
