---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: opnsense-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      opnsense-exporter:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              # renovate: datasource=docker
              repository: ghcr.io/athennamind/opnsense-exporter
              tag: 0.0.11
            env:
              OPNSENSE_HOST: "https://opnsense.internal:8443"
              OPNSENSE_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: opnsense-exporter-secret
                    key: OPNSENSE_API_KEY
              OPNSENSE_API_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: opnsense-exporter-secret
                    key: OPNSENSE_API_SECRET
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: opnsense-exporter
        ports:
          http:
            port: 9100
    serviceMonitor:
      app:
        serviceName: opnsense-exporter
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
