apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  # - ./adguard-exporter/ks.yaml  # TODO: Fix image - ghcr.io/henrywhitaker3/adguard-exporter:v1.2.5 not found
  - ./gatus/ks.yaml
  - ./grafana/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./loki/ks.yaml
  - ./node-exporter-truenas/ks.yaml
  # - ./opnsense-exporter/ks.yaml  # TODO: Fix secret - opnsense-exporter-secret not found
  - ./promtail/ks.yaml
  - ./smartctl-exporter/ks.yaml
  - ./snmp-exporter/ks.yaml
  - ./unpoller/ks.yaml
