apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudnative-pg
  namespace: database
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: cloudnative-pg-secret
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      data:
        username: "{{ .POSTGRES_SUPERUSER_USERNAME }}"
        password: "{{ .POSTGRES_SUPERUSER_PASSWORD }}"
        s3-access-key: "{{ .ACCESS_KEY }}"
        s3-secret-key: "{{ .SECRET_KEY }}"
  dataFrom:
    - extract:
        key: POSTGRES
    - extract:
        key: cloudnative-pg-s3
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgres-appuser
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: postgres-appuser-secret
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      data:
        username: "{{ .POSTGRES_APPUSER_USERNAME }}"
        password: "{{ .POSTGRES_APPUSER_PASSWORD }}"
  dataFrom:
    - extract:
        key: POSTGRES
