apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudnative-pg
  namespace: database
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: cloudnative-pg-secret
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      data:
        username: "{{ .superuserUsername }}"
        password: "{{ .superuserPassword }}"
        s3-access-key: "{{ .s3AccessKey }}"
        s3-secret-key: "{{ .s3SecretKey }}"
  data:
    - secretKey: superuserUsername
      remoteRef:
        key: POSTGRES
        property: POSTGRES_SUPERUSER_USERNAME
    - secretKey: superuserPassword
      remoteRef:
        key: POSTGRES
        property: POSTGRES_SUPERUSER_PASSWORD
    - secretKey: s3AccessKey
      remoteRef:
        key: cloudnative-pg-bucket-key
    - secretKey: s3SecretKey
      remoteRef:
        key: cloudnative-pg-bucket-secret
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgres-appuser
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: postgres-appuser-secret
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      data:
        username: "{{ .POSTGRES_APPUSER_USERNAME }}"
        password: "{{ .POSTGRES_APPUSER_PASSWORD }}"
  dataFrom:
    - extract:
        key: POSTGRES
