---
apiVersion: v1
kind: ConfigMap
metadata:
  name: paperless-gatus-ep
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: paperless
        group: guarded
        url: http://paperless.default.svc.cluster.local:8000/
        interval: 1m
        ui:
          hide-hostname: true
          hide-url: true
        conditions:
          - "[STATUS] == 200"
          - "[RESPONSE_TIME] < 5000"
        alerts:
          - type: pushover
