---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kopia
spec:
  chartRef:
    kind: OCIRepository
    name: kopia
  interval: 1h
  values:
    controllers:
      kopia:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/kopia
              tag: 0.21.1@sha256:f666b5f2c1ea4649cd2bd703507d4b81c2b515782e8476ba4a145b091a704a53
            env:
              KOPIA_WEB_ENABLED: true
              KOPIA_WEB_PORT: &port 80
              TZ: ${TIMEZONE}
              AWS_S3_ENDPOINT: http://rook-ceph-rgw-ceph-objectstore.rook-ceph.svc
              KOPIA_S3_DISABLE_TLS: "true"
            envFrom:
              - secretRef:
                  name: kopia-secret
            ports:
              - name: http
                containerPort: *port
                protocol: TCP
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: kopia
        ports:
          http:
            port: *port
    ingress:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Infrastructure
          gethomepage.dev/name: Kopia
          gethomepage.dev/icon: kopia.png
          gethomepage.dev/description: Backup Repository Browser
        className: internal
        hosts:
          - host: "kopia.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
    configMaps:
      config:
        data:
          repository.config: |-
            {
              "storage": {
                "type": "s3",
                "config": {
                  "bucket": "volsync-backups",
                  "endpoint": "rook-ceph-rgw-ceph-objectstore.rook-ceph.svc",
                  "doNotUseTLS": true,
                  "doNotVerifyTLS": true
                }
              },
              "description": "volsync",
              "enableActions": false
            }
    persistence:
      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/repository.config
            subPath: repository.config
      tmpfs:
        type: emptyDir
        advancedMounts:
          kopia:
            app:
              - path: /config/cache
                subPath: cache
              - path: /config/logs
                subPath: logs
              - path: /tmp
                subPath: tmp
