---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app snmp-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: snmp-exporter
  values:
    fullnameOverride: *app
    serviceMonitor:
      enabled: true
      params:
        - name: apcups
          module:
            - apcups
          target: apc9ff217.internal
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        memory: 128Mi
