apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mealie
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      mealie:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: mealie-secret
        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.7.0@sha256:bb2939094eed2f2b71458f2793c232d094c02507371107fe1068b79e6118c620
            env:
              BASE_URL: "{{ .Release.Name }}.${SECRET_DOMAIN}"
              DB_ENGINE: postgres
              TZ: ${TIMEZONE}
            envFrom: *envFrom
            resources:
              requests:
                memory: 250Mi
                cpu: 50m
    service:
      app:
        controller: *app
        ports:
          http:
            port: 9000
    ingress:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Productivity
          gethomepage.dev/name: Mealie
          gethomepage.dev/icon: mealie.png
          gethomepage.dev/description: Self hosted recipe manager, meal planner and shopping list
          gethomepage.dev/widget.type: mealie
          gethomepage.dev/widget.url: http://mealie.default:9000
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_MEALIE_API_KEY}}` }}"
          gethomepage.dev/widget.version: "2"
        className: internal
        hosts:
          - host: "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /app/data
