apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ../../../../templates/gatus/guarded
  - ../../../../templates/volsync
configMapGenerator:
  - name: mealie-gatus-ep
    literals:
      - NAMESPACE=default
      - GATUS_PORT=9000
      - GATUS_PATH=/
