---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app frigate
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  dependsOn:
    - name: emqx
      namespace: database
    - name: intel-device-plugin-gpu
      namespace: kube-system
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  values:
    defaultPodOptions:
      nodeSelector:
        coral.feature.node.kubernetes.io/tpu: "true"
        intel.feature.node.kubernetes.io/gpu: "true"
    controllers:
      frigate:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/blakeblackshear/frigate
              tag: 0.16.3
            env:
              TZ: ${TIMEZONE}
              LIBVA_DRIVER_NAME: iHD
            envFrom:
              - secretRef:
                  name: frigate-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/version
                    port: &port 5000
                  initialDelaySeconds: 30
                  periodSeconds: 20
                  timeoutSeconds: 10
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
                memory: 8000Mi
                gpu.intel.com/i915: 1
              limits:
                gpu.intel.com/i915: 1
            securityContext:
              privileged: true
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
          metrics:
            port: *port
    ingress:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Frigate
          gethomepage.dev/description: NVR with realtime local object detection for IP cameras
          gethomepage.dev/group: Smart Home
          gethomepage.dev/icon: frigate.png
        className: internal
        enabled: true
        hosts:
          - host: "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    serviceMonitor:
      app:
        serviceName: frigate
        endpoints:
          - port: metrics
            scheme: http
            path: /api/stats
            interval: 1m
            scrapeTimeout: 30s
    persistence:
      database:
        existingClaim: *app
        globalMounts:
          - path: /data
      config:
        type: configMap
        name: frigate-configmap
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
            readOnly: true
      media:
        type: nfs
        server: ${NAS_IP}
        path: /mnt/main/frigate
        globalMounts:
          - path: /media/frigate
      cache:
        type: emptyDir
        medium: Memory
        sizeLimit: 1Gi
        globalMounts:
          - path: /tmp/cache
      shm:
        type: emptyDir
        medium: Memory
        sizeLimit: 1Gi
        globalMounts:
          - path: /dev/shm
      coral:
        type: hostPath
        hostPath: /dev/apex_0
        hostPathType: CharDevice
        globalMounts:
          - path: /dev/apex_0
