apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ../../../../templates/gatus/external
  - ../../../../templates/volsync
configMapGenerator:
  - name: home-assistant-gatus-ep
    behavior: merge
    literals:
      - GATUS_SUBDOMAIN=hass
      - GATUS_PATH=/api/
      - GATUS_STATUS=200
