version: 0.16-0

auth:
  enabled: false

tls:
  enabled: false

mqtt:
  host: emqx-listeners.database.svc.cluster.local
  topic_prefix: frigate
  user: "{FRIGATE_MQTT_USERNAME}"
  password: "{FRIGATE_MQTT_PASSWORD}"

database:
  path: /data/frigate.db

detectors:
  coral:
    type: edgetpu
    device: pci

ffmpeg:
  global_args: [-hide_banner, -loglevel, info]

snapshots:
  enabled: true
  timestamp: true
  bounding_box: true
  retain:
    default: 7

record:
  enabled: true
  retain:
    days: 1
    mode: motion
  alerts:
    retain:
      days: 7
  detections:
    retain:
      days: 7

objects:
  track: [person, dog, car, package]
  filters:
    person:
      threshold: 0.75
      min_score: 0.70
    dog:
      threshold: 0.75
      min_score: 0.70
    car:
      threshold: 0.75
      min_score: 0.70
    package:
      threshold: 0.6
      min_score: 0.50

review:
  alerts:
    labels:
      - person
      - dog
      - car
      - package
  detections:
    labels:
      - bark
      - speech
      - shatter
      - fire_alarm
      - scream

audio:
  enabled: false
  listen:
    - bark
    - fire_alarm
    - scream
    - speech
    - yell
    - shatter

birdseye:
  enabled: true
  mode: continuous

cameras:
  doorbell:
    detect:
      enabled: true
      width: 1280
      height: 960
      fps: 10
    audio:
      enabled: true
      listen:
        - bark
        - speech
        - yell
    ffmpeg:
      output_args:
        record: preset-record-generic-audio-copy
      inputs:
        - path: rtsp://go2rtc.default.svc.cluster.local:8554/doorbell?mp4
          input_args: preset-rtsp-restream-low-latency
          roles:
            - record
            - detect
            - audio
    motion:
      mask: 0.68,0.302,1,0.095,1,0,0.803,0,0.681,0.262
  camera1:
    ffmpeg:
      inputs:
        - path: rtsp://go2rtc.default.svc.cluster.local:8554/camera1?mp4
          input_args: preset-rtsp-restream
          roles:
            - record
  mechanical:
    audio:
      enabled: true
      listen:
        - shatter
        - fire_alarm
        - scream
        - yell
    ffmpeg:
      inputs:
        - path: rtsp://go2rtc.default.svc.cluster.local:8554/mechanical?mp4
          input_args: preset-rtsp-restream
          roles:
            - record
            - audio
