---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Kubeconform"

on:
  pull_request:
    branches: ["main"]
    paths: ["kubernetes/**"]

env:
  KUBERNETES_DIR: ./kubernetes

jobs:
  kubeconform:
    name: Kubeconform
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      # Cache installed tools to speed up workflow
      - name: Cache Tools
        id: cache-tools
        uses: actions/cache@v4
        with:
          path: /usr/local/bin
          key: kubeconform-tools-${{ runner.os }}-v1
          restore-keys: |
            kubeconform-tools-${{ runner.os }}-

      - name: Setup Workflow Tools
        if: steps.cache-tools.outputs.cache-hit != 'true'
        run: |
          set -e
          # Install kubeconform
          KUBECONFORM_VERSION="v0.7.0"
          curl -sL "https://github.com/yannh/kubeconform/releases/download/${KUBECONFORM_VERSION}/kubeconform-linux-amd64.tar.gz" | tar xz
          chmod +x kubeconform
          sudo mv kubeconform /usr/local/bin/
          
          # Install kustomize
          KUSTOMIZE_VERSION="v5.5.0"
          curl -sL "https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2F${KUSTOMIZE_VERSION}/kustomize_${KUSTOMIZE_VERSION}_linux_amd64.tar.gz" | tar xz
          chmod +x kustomize
          sudo mv kustomize /usr/local/bin/
          
          # Install flux
          FLUX_VERSION="2.4.0"
          curl -sL "https://github.com/fluxcd/flux2/releases/download/v${FLUX_VERSION}/flux_${FLUX_VERSION}_linux_amd64.tar.gz" | tar xz
          chmod +x flux
          sudo mv flux /usr/local/bin/

      - name: Verify Tools
        run: |
          kubeconform -v
          kustomize version
          flux version --client

      - name: Run kubeconform
        shell: bash
        run: bash ./scripts/kubeconform.sh ${{ env.KUBERNETES_DIR }}
